@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "IBM Plex Mono" !important;
  scroll-behavior: smooth;
}

/*Navbar links styling*/
.navLinks ul li a span {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(to right, #32a6e4, #74ccef, #c957d3);
  background-size: 100% 0.1em, 0 0.6em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}

.navLinks ul li a span:hover {
  background-size: 0 0.1em, 100% 0.6em;
}

/*Styles for the horizontal ticker ==== */
/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-300%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear 50s infinite;
}
.hmove:hover {
  animation-play-state: paused;
}
